#edit-partida-asignada{
	font-size: 15px;
}
#edit-usuario-partida{
	font-size: 15px;
}
.form-item-valor-deducido{
	font-size: 15px;
	display: flex;
}
#edit-valor-deducido{
	margin-top: -2px;
}
.form-item-valor-disponible{
	font-size: 15px;
	display: flex;
}
#edit-valor-disponible{
	margin-top: -2px;
}
#edit-mensaje-partida{
	color: red;
	font-size: 15px;
}
.form-item-field-valor-deducido-sves-und-0-value label{
	display: inline-table;
    font-weight: bold;
    font-size: 15px;
}
.form-item-field-valor-disponible-sves-und-0-value label{
	display: inline-table;
    font-weight: bold;
    font-size: 15px;
}
#edit-floatpartidad-deducido {
  position: fixed;
  /*top: 332px;*/
  left: 2%;
}
#edit-floatpartidad-deducido{
	color: orange;
    font-size: 20px;
}
#tabla_carrito_div{
	float: right;
	margin-top: 10%;
	display: none;
}
.form-item-filter-almacen{
	margin-top: -45px;
    margin-left: 265px;
}
#filter-report{
	float: right;
    margin-top: -32px;
    margin-right: 40%;
}
.form-item-selected-filter-costumes{
	margin-top: -45px;
    margin-left: 135px;
}
.form-item-filter-almacen-total{
	margin-top: -45px;
    margin-left: 474px;
}
#filter-report-total{
	float: right;
    margin-top: -32px;
    margin-right: 16%;
}
#filter-report-almacen{
	float: right;
    margin-top: -32px;
    margin-right: 65%;
}