<span style='color: #000'>1010 frames</span>	<span style='color: #900'>106,240 KB</span>	<span style='color: #090'>5,336.31 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />