#block-system-main {
	float: left;
	width: 50%;
	padding-right: 3%;
	border-right: 1px solid white;
}

.region-content .block-views{
	float:right;
}

.region-content .field-name-field-imagen,.field-name-field-imagen img {
	width: 100%;
}

.view-nodehierarchy-children-image-thubmnail .view-content{
	padding-left: 0;
	width: 50%;
	
}

table.views-view-grid{
	margin-top: 2%;
}
body{
	margin:0;
	padding:0;
	background-image: url(../../);
	font-size:12px;
	line-height:15px;
	color:#fff;
	font-family:'arial';
	}	
