body.page-user-login{
	position: relative;
	bottom: 3px;
	background-image: url("../../../all/themes/armada_ximil/imagenes-d/login-bg.png");
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	color:#fff;
	font-family:'arial';
	background-position: 10px 5px 2px 4px;
}