/**
 * Generic elements
 */
 @font-face {
    font-family: 'agentcondbnormal';
    src: url('fonts/agentcondb_normal-webfont.eot');
    src: url('fonts/agentcondb_normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/agentcondb_normal-webfont.woff') format('woff'),
         url('fonts/agentcondb_normal-webfont.ttf') format('truetype'),
         url('fonts/agentcondb_normal-webfont.svg#agentcondbnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'arial_narrowregular';
    src: url('fonts/arial_narrow.eot');
    src: url('fonts/arial_narrow.eot?#iefix') format('embedded-opentype'),
         url('fonts/arial_narrow.woff') format('woff'),
         url('fonts/arial_narrow.ttf') format('truetype'),
         url('fonts/arial_narrow.svg#arial_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helvetica_neue_ltregular';
    src: url('fonts/helveticaneuelt-blackcond.eot');
    src: url('fonts/helveticaneuelt-blackcond.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuelt-blackcond.woff') format('woff'),
         url('fonts/helveticaneuelt-blackcond.ttf') format('truetype'),
         url('fonts/helveticaneuelt-blackcond.svg#helvetica_neue_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**
 * Generic elements
 */
body {
  margin: 0;
  padding: 0;
  background: #043769;
  font-size:12px;
  line-height:15px;
  color: #fff;
  font-family: 'arial';
}

input {
  
  color: #000;
  background: #fff;
    border: 1px solid #666666;
    
    height: 15px;
    line-height: 15px;
  padding-left:6px;
}
.form-submit{   font-family: 'agentcondbnormal';cursor:pointer;height:19px;line-height:19px;text-transform:uppercase;border:none; }

textarea,
select {
 /* background: #000;
 border: 1px solid #666666;
  color: #fff; */
}
body fieldset{border:none}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
 font-family: 'agentcondbnormal';
}

h1 {
  font-size: 230%;
}

h2{
  font-size: 28px;
  line-height: 32px;
  margin-bottom:10px;
}

h3 {
  font-size: 25px;
  line-height:28px;
  margin-bottom:8px;
}

h4 {
  font-size: 23px;
  line-height:25px;
  margin-bottom:8px;
}

h5 {
  font-size: 22px;
  line-height:25px;
  margin-bottom:8px;
}

h6 {
  font-size: 18px;
  line-height:22px;
  margin-bottom:8px;
}

quote,
code,
fieldset {
  margin: .5em 0;
}

code,
pre,
kbd {
  font-size: 115%;
}

p {
  margin: 0 0 15px 0;
  padding: 0;
}
a,
a:link,
a:visited {
  color:#fff;
  text-decoration: none;
}

a:hover {
  
  text-decoration: underline;
}

a:active,
a.active {
  text-decoration: underline;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

ul,
.block ul,
ol {
  margin: 0 0 15px;
  padding: 0 0 0 13px; /* LTR */
}

/* Default to menu leaf bullet for unordered list items. "ul" used here so it can cascade to list items and "li.leaf" to override the system leaf image. */
ul,
ul li.leaf {
  
}

/* This is used to cancel the list style image when an ordered list is embedded in an unordered list. */
ol {
  list-style-image: none;
}

ul.menu,
.item-list ul {
  margin: 0.35em 0 0 -0.5em; /* LTR */
}

ol li,
ul li,
ul.menu li,
.item-list ul li,
li.leaf {
 
}

ul li.expanded {
  
}

ul li.collapsed {
 
}

ul li.leaf a,
ul li.expanded a,
ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0; /* LTR */
}

ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 2em; /* LTR */
}
ol.task-list li.active {
  background: transparent url(images/task-list.png) no-repeat 3px 50%; /* LTR */
}
ol.task-list li.done {
  color: #393;
  background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%; /* LTR */
}
ol.task-list li.active {
  margin-right: 1em; /* LTR */
}

fieldset ul.clearfix li {
  margin: 0;
  padding: 0;
  background-image: none;
}
.contents-login{
  width: 400px;
  height: 480px;
  background: url(/sites/all/themes/armada_ximil/images/cuadro-login.png) no-repeat;
}

dl {
  margin: 0.5em 0 1em 1.5em; /* LTR */
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em; /* LTR */
}

img,
a img {
  border: none;
}

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #d3e7f4;
  color: #fff;
  font-weight: bold;
}

th a:link,
th a:visited {
  color: #6f9dbd;
}

td,
th {
  padding: .3em .5em;
}

tr.even,
tr.odd,
tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd,
tr.info {
  background-color: #edf5fa;
}

tr.even {
  background-color: #fff;
}

tr.drag {
  background-color: #ffb;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region-title,
td.module,
td.container,
td.category {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region-title,
tr:first-child td.module,
tr:first-child td.container,
tr:first-child td.category {
  border-top-width: 0;
}

span.form-required {
  color: #ffae00;
}

.submitted, .description,
.vertical-tab-button .summary {
  font-size: 0.92em;
  color: #898989;
}

.description .more-help-link {
  font-size: 0.92em;
}

.description {
  line-height: 150%;
  margin-bottom: 0.75em;
  color: #fff;
}

.preview {
  margin: .75em 0 .75em;
  padding: .5em 1em;
}

.form-checkboxes,
.form-radios,
.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0.25em 0;
}

#center form {
  margin-bottom: 2em;
}

.form-actions {
  margin: -1em 0 1em;
}
.form-button,
.form-submit {
  margin: 0 0.5em 0 0; /* LTR */
}

/**
 * Skip link
 */
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 1000;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  font-size: 0.94em;
  line-height: 1.7;
  margin-top: 1px;
  padding: 2px 10px;
  text-decoration: none;
  -khtml-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-radius: 0 0 2px 2px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}

/**
 * Layout
 */
.region-header {

}

.region-header .block {
  display: block;
  
}

.region-header .block-region {
  display: block;
  margin: 0 0.5em 1em;
  padding: 0.5em;
  position: relative;
  top: 0.5em;
}

.region-header * {
  display: inline;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

/* Prevent the previous directive from showing the content of script elements in Mozilla browsers. */
.region-header script {
  display: none;
}

.region-header p,
.region-header img {
  margin-top: 0.5em;
}

.region-header h2 {
  margin: 0 1em 0 0; /* LTR */
}

.region-header h3,
.region-header label,
.region-header li {
  margin: 0 1em;
  padding: 0;
  background: none;
}

#wrapper {
 
}

/* Set container widths when we are using the "fixed width" option. */
#wrapper #container {
  width: 986px;
  margin: 0 auto;
  
}

body.one-sidebar #wrapper #container {
  width: 770px;
}

body.two-sidebars #wrapper #container {
  width: 980px;
}

/* Unset container width when we are using the "fluid width" option. */
body.fluid-width #wrapper #container {
  width: auto;
  max-width: 1270px;
}

#wrapper #container #header {
  height: 80px;
}

#wrapper #container #header #logo-floater {
  position: absolute;
}

#branding,
#branding a:link,
#branding a:visited {
  
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

#branding span {
  font-weight: bold;
}

#branding img {
 
  margin:6px 0 3px -23px;
}

/* With 3 columns, require a minimum width of 1000px to ensure there is enough horizontal space. */
body.two-sidebars {
  min-width: 980px;
}
/* With 2 columns, require a minimum width of 800px. */
body.sidebar-first,
body.sidebar-second {
  min-width: 780px;
}

/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#wrapper #container #center {
  float: left; /* LTR */
  width: 100%;
}

/* So we move the #center container over the sidebars to compensate */
body.sidebar-first #center {
  /* LTR */
}
body.sidebar-second #center {
   /* LTR */
}
body.two-sidebars #center {
  
}

/* And add blanks left and right for the sidebars to fill */
body.sidebar-first #squeeze {
  /* LTR */
}
body.sidebar-second #squeeze {
/* LTR */
}
body.two-sidebars #squeeze {
  
}

/* We ensure the sidebars are still clickable using z-index */
#wrapper #container .sidebar {
  margin: 60px 0 5em;
  width: 210px;
  float: left; /* LTR */
  z-index: 2;
  position: relative;
}

#wrapper #container .sidebar .block {
  margin: 0 0 1.5em 0;
}

#sidebar-first .block {
  padding: 0 15px 0 0; /* LTR */
}

#sidebar-second .block {
  padding: 0 0 0 15px; /* LTR */
}

.block .content {
  
}

#sidebar-first .block-region {
  margin: 0 15px 0 0px; /* LTR */
}

#sidebar-second .block-region {
  margin: 0 0px 0 15px; /* LTR */
}

.block-region {
  padding: 1em;
  background: transparent;
  border: 2px dashed #b4d7f0;
  text-align: center;
  font-size: 1.3em;
}

/* Now we add the backgrounds for the main content shading */
#wrapper #container #center #squeeze {
  background: #fff url(images/bg-content.png) repeat-x 50% 0;
  position: relative;
}

#wrapper #container #center .right-corner {
  background: transparent url(images/bg-content-right.png) no-repeat 100% 0;
  position: relative;
  left: 10px;
}

#wrapper #container #center .right-corner .left-corner {
  padding: 60px 25px 5em 35px;
  background: transparent url(images/bg-content-left.png) no-repeat 0 0;
  margin-left: -10px;
  position: relative;
  left: -10px;
  min-height: 400px;
}
#block-system-main{
  width:100%;
  margin: 0 auto;
}
#wrapper #container .region-footer {
  float: none;
  clear: both;
  text-align: center;
  margin: 4em 0 -3em;
  color: #898989;
}

#wrapper #container .breadcrumb {
  position: absolute;
  top: 15px;
  left: 35px; /* LTR */
  z-index: 3;
}

body.sidebar-first .region-footer {
  
}

body.sidebar-second .region-footer {
  
}

body.two-sidebars .region-footer {
  
}

/**
 * Header
 */
div#branding {
  float:left;width:100%
}

div#branding strong {
   font-weight: normal;
}

#branding,
#branding a:link,
#branding a:visited {
  color: #fff;
  text-shadow: #1659ac 0px 1px 3px;
  font-size: 1.5em;
}

#branding a:hover {
  text-decoration: none;
}

#wrapper #container .breadcrumb {
  font-size: 0.92em;
}

#wrapper #container .breadcrumb,
#wrapper #container .breadcrumb a {
  color: #529ad6;
}

#highlighted {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

/**
 * Overlay
 */
#overlay #overlay-tabs li a {
  background: #d9eaf5;
  color: #000;
}
#overlay #overlay-tabs li a:hover,
#overlay #overlay-tabs li a:focus {
  background: #fff;
}
#overlay #overlay-tabs li.active a {
  background: url("images/body.png") repeat-x scroll 50% -58px #edf5fa;
  color: #fff;
}
#overlay-content {
  padding: 1px;
}
#overlay-content #header {
  display: none;
}
#overlay-content #wrapper {
  background-position: 50% -80px;
}


/**
 * Primary navigation
 */
ul.main-menu {
  margin: 0;
  padding: 0;
  float: right; /* LTR */
  position: relative;
  z-index: 4;
}

ul.main-menu li {
  margin: 0;
  padding: 0;
  float: left; /* LTR */
  background-image: none;
}

ul.main-menu li a,
ul.main-menu li a:link,
ul.main-menu li a:visited {
  display: block;
  margin: 0 1em;
  padding: .75em 0 0;
  color: #fff;
  background: transparent url(images/bg-navigation-item.png) no-repeat 50% 0;
}

ul.main-menu li a:hover,
ul.main-menu li a.active {
  color: #fff;
  background: transparent url(images/bg-navigation-item-hover.png) no-repeat 50% 0;
}

/**
 * Secondary navigation
 */
ul.secondary-menu {
  margin: 0;
  padding: 18px 0 0;
  float: right; /* LTR */
  clear: right; /* LTR */
  position: relative;
  z-index: 4;
}

ul.secondary-menu li {
  margin: 0;
  padding: 0;
  float: left; /* LTR */
  background-image: none;
}

ul.secondary-menu li a,
ul.secondary-menu li a:link,
ul.secondary-menu li a:visited {
  display: block;
  margin: 0 1em;
  padding: .75em 0 0;
  color: #cde3f1;
  background: transparent;
}

ul.secondary-menu li a:hover,
ul.secondary-menu li a.active {
  color: #cde3f1;
  background: transparent;
}

/**
 * Local tasks
 */
ul.primary,
ul.primary li,
ul.secondary,
ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

#tabs-wrapper {
  margin: 0 -26px 1em;
  padding: 0 26px;
  
  position: relative;
}
ul.primary {
  padding: 0.5em 0 10px;
  float: left; /* LTR */
}
ul.secondary {
  clear: both;
  text-align: left; /* LTR */
  border-bottom: 1px solid #e9eff3;
  margin: -0.2em -26px 1em;
  padding: 0 26px 0.6em;
}
h1.with-tabs {
  
  margin: 0 2em 0 0; /* LTR */
  padding: 0;
}
.titles-login{
  line-height: 1.5em;
  width: 12.5em;
}

ul.primary li a,
ul.primary li.active a,
ul.primary li a:hover,
ul.primary li a:visited,
ul.secondary li a,
ul.secondary li.active a,
ul.secondary li a:hover,
ul.secondary li a:visited {
  border: 0;
  background: transparent;
  padding: 4px 1em;
  margin: 0 0 0 1px; /* LTR */
  height: auto;
  text-decoration: none;
  position: relative;
  top: -1px;
  display: inline-block;
}
ul.primary li.active a,
ul.primary li.active a:link,
ul.primary li.active a:visited,
ul.primary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a:link,
ul.secondary li.active a:visited,
ul.secondary li a:hover {
  background:url("images/btn-bg.png") repeat-x 0 50%;
  color: #fff;
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}

/**
 * Nodes & comments
 */
.node {
 margin-top:9px;
 float:left;width:100%;
 font-size: 1.4em;
 line-height: 1em;
}

ul.links li,
ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; /* LTR */
  padding-right: 1em; /* LTR */
  background-image: none;
}

.node .links,
.comment .links {
  text-align: left; /* LTR */
  padding-left: 0; /* LTR */
}

.user-picture,
.comment .submitted {
  float: right; /* LTR */
  clear: right; /* LTR */
  padding-left: 1em; /* LTR */
}

.new {
  color: #ffae00;
  font-size: 0.92em;
  font-weight: bold;
  float: right; /* LTR */
}

.preview .node,
.preview .comment,
.node-sticky {
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: 0;
}

.node-sticky {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

#comments {
  position: relative;
  top: -1px;
  border-bottom: 1px solid #e9eff3;
  margin: 1.5em -25px 0;
  padding: 0 25px;
}

#comments h2.comments {
  margin: 0 -25px;
  padding: .5em 25px;
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}

.comment {
  margin: 0 -25px;
  padding: 1.5em 25px 1.5em;
  border-top: 1px solid #e9eff3;
}

.indented {
  margin-left: 25px; /* LTR */
}

.comment h3 a.active {
  color: #494949;
}


.comment .content {
  margin: 0.6em 0;
}

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-item-title {
  font-size: 160%;
  line-height: 130%;
}
#aggregator .feed-item {
  border-bottom: 1px solid #e9eff3;
  margin: -1.5em -31px 1.75em;
  padding: 1.5em 31px;
}
#aggregator .feed-item-categories {
  font-size: 0.92em;
}
#aggregator .feed-item-meta {
  font-size: 0.92em;
  color: #898989;
}

/**
 * Color.module
 */
#palette .form-item {
  border: 1px solid #fff;
}
#palette .item-selected {
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
  border: 1px solid #d9eaf5;
}

/**
 * Menu.module
 */
tr.odd td.menu-disabled {
  background-color: #edf5fa;
}
tr.even td.menu-disabled {
  background-color: #fff;
}

/**
 * Poll.module
 */
.poll .bar {
  background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
  border: solid #f0f0f0;
  border-width: 0 1px 1px;
}

.poll .bar .foreground {
  background: #71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}

.poll .percent {
  font-size: .9em;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Collapsible fieldsets
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #d9eaf5;
  
}

/* Targets IE 7. Fixes background image in field sets. */
*:first-child+html fieldset {
  padding: 0 1em 1em;
  background-position: 0 .75em;
  background-color: transparent;
}
*:first-child+html .text-format-wrapper .filter-wrapper {
  padding: 1.5em 0 1.5em;
  background-position: 0 0;
}

/* Keep the background position at 0 for filters and vertical tabs. */
*:first-child+html fieldset.filter-wrapper,
*:first-child+html fieldset.vertical-tabs-pane {
  background-position: 0 0;
}

*:first-child+html fieldset .fieldset-wrapper .fieldset-description {
  padding-top: 1em;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .6em;
}

#_fieldset-legend{
  width:836px !important;
  margin:0 auto !important;
}
html.js fieldset.collapsible .fieldset-legend {
  padding-left: 2em; /* LTR */
  background: url(images/menu-expanded.gif) no-repeat 0% 50%; /* LTR */
}
html.js fieldset.collapsed .fieldset-legend {
  background: url(images/menu-collapsed.gif) no-repeat 0% 50%; /* LTR */
}

.fieldset-legend span.summary {
  color: #898989;
}

/**
 * Vertical tabs.
 */
div.vertical-tabs {
  border-color: #d9eaf5;
}

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 0.5em 1em;
}

div.vertical-tabs ul.vertical-tabs-list {
  border-color: #d9eaf5;
}

div.vertical-tabs ul.vertical-tabs-list li {
  background-color: #edf5fa;
  border-color: #d9eaf5;
}

div.vertical-tabs ul.vertical-tabs-list li strong {
  font-weight: normal;
}

div.vertical-tabs ul.vertical-tabs-list li.selected strong {
  font-weight: bold;
}

div.vertical-tabs ul.vertical-tabs-list li.selected small {
  color: #898989;
}

div.vertical-tabs ul.vertical-tabs-list li.selected {
  background: #fff repeat-x 0 0;
}

div.vertical-tabs ul.vertical-tabs-list li.selected.first {
  background-image: url(images/gradient-inner.png);
}

div.vertical-tabs ul.vertical-tabs-list li.selected a strong {
  color: #494949;
}

/**
 * Syndication icons and block
 */
#block-node-syndicate h2 {
  float: left; /* LTR */
  padding-right: 20px; /* LTR */
}

#block-node-syndicate img,
.feed-icon {
  float: right; /* LTR */
  padding-top: 4px;
}

#block-node-syndicate .content {
  clear: right; /* LTR */
}

/**
 * Login Block
 */
#user-login-form {
  
}
#user-login-form ul {
  text-align: left; /* LTR */
}
#user-login .openid-links {
  padding: 0;
}
#user-login-form .openid-links {
  padding-left: 0.5em; /* LTR */
}
#user-login-form .openid-links li.user-link {
  padding-left: 1em; /* LTR */
}

/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.45em;
}
.profile dd {
  margin-bottom: 1.6em;
}

/**
 * Admin Styles
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left; /* LTR */
  width: 48%;
}
div.admin .right {
  float: right; /* LTR */
  width: 48%;
}

div.admin-panel {
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

table.system-status-report th {
  border-color: #d3e7f4;
}

#autocomplete li.selected,
tr.selected td,
tr.selected td.active {
  background: #027ac6;
  color: #fff;
}

tr.selected td a:link,
tr.selected td a:visited,
tr.selected td a:active {
  color: #d3e7f4;
}

tr.taxonomy-term-preview {
  opacity: 0.5;
}

tr.taxonomy-term-divider-top {
  border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #CCC;
}

.theme-selector h3 {
  margin: 10px 0;
}
.theme-selector .operations li {
  list-style-image: none;
}

/**
 * CSS support
 */

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/

/**
 * Generic elements.
 */
.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

.form-item input.error,
.form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}

/**
 * dblog.module
 */
tr.dblog-user {
  background-color: #fcf9e5;
}

tr.dblog-user td.active {
  background-color: #fbf5cf;
}

tr.dblog-content {
  background-color: #fefefe;
}

tr.dblog-content td.active {
  background-color: #f5f5f5;
}

tr.dblog-warning {
  background-color: #fdf5e6;
}

tr.dblog-warning td.active {
  background-color: #fdf2de;
}

tr.dblog-error {
  background-color: #fbe4e4;
}

tr.dblog-error td.active {
  background-color: #fbdbdb;
}
tr.dblog-page-not-found,
tr.dblog-access-denied {
  background: #d7ffd7;
}
tr.dblog-page-not-found td.active,
tr.dblog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error,
table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning,
table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok,
table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}
.search-box h2.title,.initiation .content a,.main-menu ul.om-menu > li > a,.ryt-header-links .content ul li a,
.tabbing h2.title,.gallery-link,.block-footer-message .left p{font-family: 'arial_narrowregular';}
.content_sec h4{font-family: 'helvetica_neue_ltregular';}
.tabbing .quicktabs-wrapper .item-list ul.quicktabs-tabs li a,.computer-security h2.title,.accordian-container .accordion .slide > h2,.left-menu ul li a{font-family: 'agentcondbnormal';}
.wrapper, .wrapper2{margin:0 auto;width:960px; position:relative}
.wrapper2{
  position: absolute;
  left: 15%;
  top: 0;
  width: 75%;
}
#container{float:left;width:100%;}
.not-front #center{float:left;width:100%;padding-top:42px;min-height:410px;height:auto!important;height:410px;}
.not-front #center-login{float:left;width:100%;padding-top:10px;min-height:410px;height:auto!important;height:410px;}
.front .with-tabs{display:none;}
#container .wrapper,.content-bottom-outer .wrapper,.content-accordian .wrapper{
  width:870px;}
#outer{float:left;width:100%;background:url(images/bg.png) 0 0 repeat-x;}

/* header top css */
.header-top{position:relative;float:left;width:100%;background:url(images/header-top-bg.png) 0 0 repeat-x;min-height:48px;height:auto!important;height:48px;}
.header-section{float:left;width:100%;background:url(images/logo-bg.png) center 0 no-repeat;height:74px;}
#logo-floater{float:left;width:100%;text-align:center;}

/* bottom header css  */
.bottom-header{float:left;width:100%;background:url(images/white-shadow.png) center top no-repeat;height:65px;}
.bottom-header-outer{float:left;width:100%;height:105px; margin-top: -41px;}
.search-box{float:left;margin-top:28px;position:relative;z-index:99}
.search-box h2.title{font-size:14px;line-height:18px;color:#0d2d5d;margin-right:5px;}
.search-box input.form-text{border:1px solid #bccad9;color:#000;background:#fff}
.search-box .form-submit{background:url(images/search-btn.png) 0 0 no-repeat;width:24px;height:21px;text-indent:-99999px;padding:0;margin:0;position:absolute;top:1px;right:0;}

.initiation{position:relative;z-index:99;float:left;margin-left:43px;display:inline;margin-top:29px;background:url(images/saprator.png) right no-repeat;   margin-right: 13px;padding-right: 16px;}
.initiation .content a{background:url(images/home-icon.png) 0 0 no-repeat;padding-left:18px;color:#0d2d5d;font-size:14px;line-height:18px;}

.ryt-header-links{float:right;margin-top:28px;padding-right:33px;position:relative;z-index:99}
.ryt-header-links .content ul li{margin:0;  background: url("images/saprator.png") no-repeat scroll left center transparent;}
.ryt-header-links .content ul li:first-child{background:none;}
.ryt-header-links .content ul li a{color: #0D2D5D;font-size: 14px;line-height: 18px;margin:0 18px}
.ryt-header-links .content ul li a.icon1{background:url(images/icon1.png) 0 2px no-repeat;padding-left:18px;}
.ryt-header-links .content ul li a.icon2{background:url(images/icon2.png) 0 3px no-repeat;padding-left:18px}
.ryt-header-links .content ul li a.icon3{background:url(images/icon3.png) right 0 no-repeat;padding-right:18px;font-size:14px;color:#0099cc;margin-right:0}

/* main menu css */
#header{float:left;width:100%;position:relative;}
.header-middle{float:left;width:100%;background:url(images/main-menu-bg.jpg) 0 0 repeat-x;min-height:76px;height:auto!important;height:76px;}
.main-menu{float:left;width:100%;margin:13px 0 0 0;position:relative;background:url(images/menu-shadow.png) bottom no-repeat;padding-bottom:34px;z-index:89}

.main-menu ul.om-menu{float:left;margin:0;padding:0;width:100%;list-style:none;background:url(images/main-menu-bg.png) 0 0 no-repeat;min-height:48px;height:auto!important;height:48px;}
.main-menu ul.om-menu > li{height:47px!important;float:left;text-align:center;  padding:0; list-style-image:none!important;list-style-type:none!important;margin:0;background:url(images/seprator1.png) 0 9px no-repeat;}
.main-menu ul.om-menu > li.first a{background:none;padding-left:10px;padding-right:2px;width:60px;}
body #outer .main-menu ul.om-menu > li.first a{border-left:0!important;margin-left:0!important}
.main-menu ul.om-menu > li.first{background:none}
body #outer .main-menu ul.om-menu > li.last a{padding-right:0}
body #outer .main-menu ul.om-menu > li.last a{border-right:none!important;margin-right:0!Important;padding-right:0}
.main-menu ul.om-menu > li > a {width: 108px;float:left!important;font-size:13px;line-height:13px!important;color:#fff;letter-spacing:-0.2px;  padding:12px 2px 8px!important; }
.main-menu ul.om-menu li a:hover{color:#ffcc00}
.main-menu ul.om-menu > li > a:hover,.main-menu ul.om-menu > li.active > a,.main-menu ul.om-menu > li:hover > a{background:url(images/transparent-bg.png) 0 0 repeat;color:#ffcc00;text-decoration:none;
border-right:1px solid #82a1bb;border-left:1px solid #82a1bb;margin-left:-1px!important;margin-right:-1px!important} 


body .om-maximenu .om-maximenu-content .block{float:left;background:url(images/transparent-bg.png) 0 0 repeat;padding:24px 17px!important;border:1px solid #82a1bb;}
.main-menu ul.om-menu li.leaf-jefatura-de-operaciones-navales .om-maximenu-content{*width:458px;}
.main-menu ul.om-menu li .om-maximenu-content{display:none;float:left;top:48px;padding:0!important}
.main-menu ul.om-menu li .om-maximenu-content h3.title{display:none}
body .om-maximenu ul.om-menu li.om-leaf .om-link{height:28px;}
body .om-maximenu-no-style .om-maximenu-middle-right{padding:0} 
body .om-maximenu-bubble .om-maximenu-middle-right{padding:0;margin:0;background:none}
.submenu1{float:left;width:458px;}
.left-menu{float:left;width:236px;background:url(images/shadow2.png) right center no-repeat;}
.left-menu ul{float:left;width:100%;padding:0;margin:0;}
.left-menu ul li{display:block;text-align:left;margin:0;background:url(images/line.png) 13px bottom no-repeat;list-style:none}
.left-menu ul li.last{background:none}
.left-menu ul li a{font-size:14px;padding-left:12px;background:url(images/dot.png) 0 -18px no-repeat;line-height:25px;}
.left-menu ul li a:hover{background-position:0 6px;text-decoration:none;}
.ryt-menu{float:left;width:220px;}
body .om-maximenu .om-maximenu-open{display:none}


.bg-outer{float:left;width:100%;background:url(images/bg2.png) center 5px no-repeat}
.dotted-bg{float:left;width:100%;background:url(images/dotted.png) center top repeat-x}


/* slider css starts from here */
.slider-section{float:left;width:100%}
.slider-section .view-slider{float:left;width:100%;background:url(images/shadow.png) center bottom no-repeat;padding-bottom:25px;margin-bottom:6px;}
.slider-section .view-slider .item-list{float:left;width:100%}
.slider-section .view-slider .item-list ul{margin:0;padding:0;list-style:none;float:left;width:100%}
.slider-section .view-slider .item-list ul li{margin:0;padding:0;float:left;width:100%}
.slider-section .view-slider .views-field-field-slider-content{position:absolute;left:0;top:0}
.content_sec h3{float:right;font-size:26px;line-height:25px;color:#fff;font-family: 'agentcondbnormal';width:241px;text-align:right;margin-top:50px;}
.image{float:left;width:100%;text-align:center;}
.content_sec h4{float:left;width:100%;clear:both;  line-height: 31px;font-size:31px;text-align:left;color:#fff;margin-bottom:0 }
.content_sec h2{float:left;width:100%;line-height: 70px;margin:0;text-align: left;font-size:74px;color:#fff; font-family: 'helvetica_neue_ltregular';letter-spacing:3px;}
.content_sec .top{float:left;width:100%;margin-left:-5px;display:inline;}
.slider{float:left;width:100%;min-height:411px;
  height:auto!important;height:411px;
position: relative;}

.content_sec{position:relative;float:left;width:525px;padding:30px 170px 0 48px; background:url(images/slider-content-bg.png) bottom no-repeat;}
.img_sec{float:left;display:inline;}
.img_sec img{float:left}
.slider-section .view-slider .skin-default{float:left;width:100%;position:relative;}
.slider-section .view-slider .skin-default .views_slideshow_cycle_main{float:left;width:100%;height:287px;}
.slider-section .view-slider .skin-default .views_slideshow_cycle_main  > div{float:left;width:100%;height:287px!important;position:relative;}
.slider-section .view-slider .skin-default .views_slideshow_cycle_main .views-field-title{display:none;}
.slider-section .views-slideshow-controls-bottom{  background:url(images/pager-bg.png) 0 0 no-repeat;
    width:79px;bottom: 5px;float: right;height: 57px; padding: 0 53px 0 50px;position: absolute;z-index:9;right: 35px;}
.slider-section .views-slideshow-controls-text-previous{    background: url("images/prev.png") no-repeat scroll 0 0 transparent;
    float: left; height: 24px;left: 14px; position: absolute;    text-indent: -99999px;  top: 10px; width: 24px;}
.slider-section .views-slideshow-controls-text-next{    background: url("images/next.png") no-repeat scroll 0 0 transparent;
    float: left; height: 24px; position: absolute; right: 16px; text-indent: -99999px; top: 10px;  width: 24px;}
.slider-section .views-slideshow-controls-text-pause{display:none}
.slider-section  .views-slideshow-pager-fields .views-content-title{cursor:pointer;float:left;margin:0 3px;background:url(images/pager.png) 0 0 no-repeat;width:7px;height:7px;text-indent:-9999px;}
.slider-section  .views-slideshow-pager-fields .active .views-content-title,.slider-section  .views-slideshow-pager-fields .views-content-title:hover{background-position:-13px 0}
.slider-section  .views-slideshow-pager-fields{margin-top:16px;margin-left:5px;display:inline;}


/* tabbing css starts from here */
.tabber-container{float:left;width:100%;padding-bottom:34px;background:url(images/shadow1.png) bottom center no-repeat;padding-top:15px;}
.tabbing{float:left;width:550px;margin-left:48px;display:inline;}
.tabbing h2.title{font-size:12px;line-height:15px;color:#fff;margin-bottom:15px;}
.tabbing .quicktabs-wrapper .item-list{float:left;width:100%}
.tabbing .quicktabs-wrapper .item-list ul.quicktabs-tabs{margin:0;padding:0;float:left;width:100%;background:#164577 url(images/tabbing-shadow1.png) bottom repeat-x;}
.tabbing .quicktabs-wrapper .item-list ul.quicktabs-tabs li{margin:0 2px;padding:0;float:left;}
.tabbing .quicktabs-wrapper .item-list ul.quicktabs-tabs li:first-child{margin-left:0}
.tabbing .quicktabs-wrapper .item-list ul.quicktabs-tabs li.last{margin-right:0}
.tabbing .quicktabs-wrapper .item-list ul.quicktabs-tabs li.last a{padding-right:20px;}
.tabbing .quicktabs-wrapper .item-list ul.quicktabs-tabs li a
{border-bottom:1px solid #0a2a5d;float:left;font-size:15px;
  line-height:25px;color:#fff;text-decoration:none;
  background:#22548c url(images/tabbing-shadow.png) bottom repeat-x;padding:5px 16px;}
.tabbing .quicktabs-wrapper .item-list ul.quicktabs-tabs li.active a{color:#ffcc00;border-top:2px solid #ffcc00;background:#0f3260;margin-top:-2px;border-bottom:1px solid #0f3260}
.tabbing .quicktabs_main{float:left;padding:20px 25px ;background:#0f3260;width:500px;min-height:275px;height:auto!important;height:275px}

.news-section{float:left;width:100%;}
.news-section ul{margin:0;padding:0;list-style:none;float:left;width:100%;}
.news-section ul li{float:left;width:100%;margin:0 0 10px;padding:0}
.news-section .views-field-title,.news-section .views-field-title a{font-weight:bold;font-family:arial;color:#ffcc00;text-transform:uppercase; }
.news-section .views-field-title{float:left;width:425px;padding-left:5px;text-align:left}
.news-section .views-field-field-news-small-icons{float:left;padding-right:10px;width:45px;text-align:center;}
.news-section .views-field-body{border-bottom:1px solid #22548c;float:left;width:420px;padding-left:5px;text-align:left;}

.news-section .jcarousel-container{float:left;width:100%!important;padding:0!important;height:275px}
.news-section .jcarousel-skin-default .jcarousel-item{border:none;background:none;float:left;width:100%;margin:0 0 5px 0;}
.news-section .jcarousel-skin-default .jcarousel-prev-vertical{width:28px;height:104px;background:url(images/top-arrow.png) 0 0 no-repeat;float:left;left:480px;}
.news-section .jcarousel-skin-default .jcarousel-next-vertical{width:28px;height:104px;background:url(images/bottom-arrow.png) 0 0 no-repeat;float:left;left:480px;top:114px;}
.news-section  .jcarousel-skin-default .jcarousel-clip-vertical{height:275px;}

 /* computer-security css */
 .computer-security{float:left;width:311px;margin-left:12px;margin-top:30px;background:#0f3260 url(images/computr-security-bg.png) 0 0 repeat-x;min-height:352px;height:auto!important;height:352px;}
.computer-security h2.title{font-size:18px;color:#ffcc00;padding:0 23px;line-height:32px;margin-bottom:4px;}
.computer-security .content{padding:18px 23px;}
.computer-security h4{margin-bottom:0;float:left;width:91%;margin-top:7px;font-size:18px;color:#fff;background:url(images/play-icon.png) 0 0 no-repeat;padding-left:22px;line-height:21px;}
.computer-security  .gallery-link{font-size:14px;color:#ffcc00;text-decoration:underline;background:url(images/icon4.png) right 5px no-repeat;padding-right:15px;} 
.computer-security  .gallery-link:hover{text-decoration:none}
.computer-security iframe{float:left;border:1px solid #3b70aa;width:262px;height:133px;}
.computer-security p{margin-bottom:0} 
 
 /* accordian-container css */
 .accordian-container{margin-top:28px;float:left;display:inline;width:870px;background:url(images/shadow.png) bottom no-repeat;padding-bottom:10px}
 .accordian-container .view-content{width:870px;}
 .accordian-container .accordion{border:none;background:none;padding:0;height:272px!important;}
 
 /* .accordian-container .accordion > ol {float:left;} */
  
 .accordian-container .accordion .slide > div{background:#133669 url(images/accordian-bg.png) 0 0 repeat-x;}
 .accordian-container .accordion .slide > h2, .accordian-container .accordion .slide > h2 span{background:#145188;font-size:29px;line-height:39px;color:#fff}
  .accordian-container .accordion .slide:first-child > h2{background:none!important}
 .accordian-container .accordion .slide > h2.selected span{color:#3d91d8}
 .accordian-container .light .slide > h2 span{background:#0b284d!important}
 .accordian-container li.slide .views-accordion-header{display:none;}
 .accordian-container li.slide .views-field-body{padding:28px 40px;}
 
 .left-img{float:left;padding-right:10px;}
.right-section{float:right;width:270px;}
ul.galleries{float:left;width:100%;padding:0;list-style:none;margin:0;} 
ul.galleries li{float:left;list-style:none;margin-left:5px;display:inline} 
ul.galleries li:first-child{margin-left:0} 



.bg-bottom{float:left;width:100%;background:url(images/bg-bottom.png) 0 0 repeat-x;}


/* footer css */
.footer-outer{float:left;width:100%;margin-top:15px;padding-top:7px;padding-bottom:50px}
.region-footer{float:left;width:100%;padding-top:11px;border-top:1px solid #226390;background:url(images/footer-bg.png) center top no-repeat;padding-bottom:15px; }
.shadow{float:left;width:100%;padding-top:34px;background:url(images/footer-shadow.png) center top no-repeat;}
.footer-outer .wrapper{width:870px;}
.block-footer-message{float:left;width:100%;padding-top:11px;background:url(images/footer-logo1.png) 94% 15px no-repeat;}
.block-footer-message .left{float:left;display:inline;padding:9px 0 0 43px }
.block-footer-message .left p{font-size:13px;line-height:14px;color:#367eba;padding-top:5px;}





/* sidebar css */
.not-front.one-sidebar.sidebar-first  #sidebar-first{float:left;width:206px;padding-top:42px;}
.not-front.one-sidebar.sidebar-first  #center{float:left;width:664px;background:none;}
.not-front.one-sidebar.sidebar-second  #sidebar-second{float:left;width:206px;padding-top:42px;}
.not-front.one-sidebar.sidebar-second  #center{float:left;width:664px;background:none;}
.not-front.two-sidebars #sidebar-first{float:left;width:206px;padding-top:42px;}
.not-front.two-sidebars #sidebar-second{float:left;width:206px;padding-top:42px;}
.not-front.two-sidebars #center{float:left; background:none; margin: 0 10px; width: 410px;}


/* css3 starts */
.content_sec h4,.content_sec h2,.content_sec p{text-shadow:2px 2px 7px #333;-webkit-text-shadow:2px 2px 7px #333;-moz-text-shadow:2px 2px 7px #333}
.accordian-container .light .slide > h2{text-shadow:0 0 0}
body .om-maximenu .om-maximenu-content .block{border-radius:0 0 22px 22px;-webkit-border-radius:0 0 22px 22px;-moz-border-radius:0 0 22px 22px;}
.main-menu ul.om-menu li.first a{position:relative;border-radius:7px 0 0 7px;-webkit-border-radius:7px 0 0 7px;-moz-border-radius:7px 0 0 7px;}
body #outer .main-menu ul.om-menu > li.last a{position:relative;border-radius:0 7px 7px 0;-webkit-border-radius:0 7px 7px 0;-moz-border-radius:0 7px 7px 0;}
.accordian-container .accordion,.accordian-container .light .slide > h2 span{   box-shadow: 0 0 0, 0 0 0, 0 0 0 rgba(0, 0, 0, 0)}

.block-block-id-8{
  position: relative;
  left:55px;
}
.block-block-id-13{
  position: relative;
  right:110px;
}

.block-block-id-14{
  position: relative;
  right:222px;
}

.block-block-id-15{
  position: relative;
  right:335px;
}

.block-block-id-8 .left-menu ul li{
  list-style: circle;
}

.block-block-id-8 .left-menu ul li a{
background: url(images/dot.png) 0 -18px no-repeat !important;}




.slider-section-leadership{float:left;width:100%}
.slider-section-leadership.view-slider{float:left;width:100%;background:url(images/shadow.png) center bottom no-repeat;padding-bottom:25px;margin-bottom:6px;}
.slider-section-leadership.view-slider .item-list{float:left;width:100%}
.slider-section-leadership.view-slider .item-list ul{margin:0;padding:0;list-style:none;float:left;width:100%}
.slider-section-leadership.view-slider .item-list ul li{margin:0;padding:0;float:left;width:100%}
.slider-section-leadership.view-slider .views-field-field-slider-content{position:absolute;left:0;top:0}

.slider-section-leadership.view-slider .skin-default{float:left;width:100%;position:relative;}
.slider-section-leadership.view-slider .skin-default .views_slideshow_cycle_main{float:left;width:100%;height:287px;}
.slider-section-leadership.view-slider .skin-default .views_slideshow_cycle_main  > div{float:left;width:100%;height:287px!important;position:relative;}
.slider-section-leadership.view-slider .skin-default .views_slideshow_cycle_main .views-field-title{display:none;}
.slider-section-leadership .views-slideshow-controls-bottom{  background:url(images/pager-bg.png) 0 0 no-repeat;
    width:79px;bottom: 5px;float: right;height: 57px; padding: 0 53px 0 50px;position: absolute;z-index:9;right: 35px;}
.slider-section-leadership .views-slideshow-controls-text-previous{    background: url("images/prev.png") no-repeat scroll 0 0 transparent;
    float: left; height: 24px;left: 14px; position: absolute;    text-indent: -99999px;  top: 10px; width: 24px;}
.slider-section-leadership .views-slideshow-controls-text-next{    background: url("images/next.png") no-repeat scroll 0 0 transparent;
    float: left; height: 24px; position: absolute; right: 16px; text-indent: -99999px; top: 10px;  width: 24px;}
.slider-section-leadership .views-slideshow-controls-text-pause{display:none}
.slider-section-leadership .views-slideshow-pager-fields .views-content-title{cursor:pointer;float:left;margin:0 3px;background:url(images/pager.png) 0 0 no-repeat;width:7px;height:7px;text-indent:-9999px;}
.slider-section-leadership .views-slideshow-pager-fields .active .views-content-title,.slider-section  .views-slideshow-pager-fields .views-content-title:hover{background-position:-13px 0}
.slider-section-leadership .views-slideshow-pager-fields{margin-top:16px;margin-left:5px;display:inline;}

.not-front .slider{
  min-height: 0;
}

.right{
  float: right;
}

.node-page .field-name-field-imagen, .node-article .field-name-field-image,
.node-sistema-de-informacion .field-name-field-is-imagen{
  float: left;
  margin: 0 10px 10px 0;
}
.newchild{    
  display:block;
  clear: both;
}

.view-nodehierarchy-children-list{    
  display: inline-block;
  Width: 100;
  float: left;
}

.view-nodehierarchy-children-image-thubmnail table{
  width: auto;
}

.view-nodehierarchy-children-image-thubmnail .view-content{
  /*padding-left: 15%;*/
}

.dependecies-images tr, .dependecies-images td{
  position: relative;
}

.dependecies-images .views-field-title{
max-width: 200px;
position: absolute;
bottom: 20px;
font-size: 2em;
line-height: 1em;
font-weight: bold;
}

.dependecies-images .views-field-title a, .dependecies-images .views-field-title:hover{
  text-decoration: none;
}

#block-views-dependencies-leadership-block-1{
  width: 55%;
}

.view-dependencies-leadership-main, .view-dependencies-leadership{
  float: left;
}

#nodehierarchy-children-form a{
  color:black;
}

.last-update{
  color:#367eba;
  padding-left:5%;
}

.breadcrumb{
  font-size: 1.2em;
}

.commanders .views-field-body{
  float: left;
  width: 250px;
  padding-top: 0 !important;
  margin-top: 0;
  border-top: 0;
}

.commanders .views-slideshow-cycle-main-frame-row-item{
  width: 630px;
}

.commanders .views-field-field-commmanders-picture{
  float: left;
}

.commanders .view-content, .commanders .skin-default{
  width: 500px;
  height: 230px;
}

.commanders #vscc_controls_pause_commanders-block{
  display: none;
}

.commanders #views_slideshow_cycle_main_commanders-block, 
.commanders #views_slideshow_cycle_teaser_section_commanders-block,
.commanders .views-slideshow-cycle-main-frame-row{
  width: 100%;
  height: 100%;

}

.commanders .views-slideshow-cycle-main-frame-row{
  width: 100% !important;
  height: 100% !important;
}

.commanders{
  padding-left: 90px;
}

.commanders .vscc-pause{
  display: none;
}

.commanders #vscc_controls_previous_commanders-block, .commanders #vscc_controls_next_commanders-block{
  position: absolute;
  top: 50%;
}

.commanders #vscc_controls_previous_commanders-block{
  left: 6%;
}

.commanders #vscc_controls_next_commanders-block{
  right: 0;
}

.commanders .views-field-title{
 padding: 0 20px 0 20px;
font-size: 1.5em;
float: left;
width: 250px;
line-height: 1em;
}

.commanders .views-field-field-commanders-appoinment{
  float: left;
  width: 300px;
  padding-left: 20px;
  font-size: 1.2em;
}

.commanders .views-field-field-commanders-year{
  float: left;
  width: 300px;
  padding-left: 20px;
  padding-bottom: 20px;
}


.dare-to-know .views-field-body{
  float: left;
  width: 250px;
  padding-top: 0 !important;
  margin-top: 0;
  border-top: 0;
}

.dare-to-know .views-slideshow-cycle-main-frame-row-item{
  width: 630px;
}

.dare-to-know .views-field-field-dknow-image{
  float: left;
}

.dare-to-know .view-content, .dare-to-know .skin-default{
  width: 500px;
  height: 230px;
}

.dare-to-know  #views_slideshow_cycle_main_commanders-block, 
.dare-to-know  #views_slideshow_cycle_teaser_section_dare-to-know-block,
.dare-to-know  .views-slideshow-cycle-main-frame-row{
  width: 100%;
  height: 100%;

}

.dare-to-know  .views-slideshow-cycle-main-frame-row{
  width: 100% !important;
  height: 100% !important;
}

.dare-to-know {
  padding-left: 90px;
}




.dare-to-know .vscc_controls_previous, 
.dare-to-know #vscc_controls_next_dare_to_know_image-block{
  position: absolute;
  top: 50%;
}

.dare-to-know .vscc_controls_previous{
  left: 6%;
}

.dare-to-know .vscc-next-processed{
  right: 0;
}

.dare-to-know #vscc_controls_pause_dare_to_know_image-block{
  display: none;
}

.dare-to-know .views-field-title{
 padding: 0 20px 0 20px;
font-size: 1.5em;
float: left;
width: 250px;
line-height: 1em;
}
/***********************************************************************************************/
/* Adici??n de estilos para el slide de elementos de cultura naval que se presentan en el home de la intranet */
.view-cultura-naval-slide-homepage .views-field-body{
  float: left;
  width: 250px;
  padding-top: 0 !important;
  margin-top: 0;
  border-top: 0;
}
.view-cultura-naval-slide-homepage .views-slideshow-cycle-main-frame-row-item{
  width: 630px;
}

.view-cultura-naval-slide-homepage .views-field-field-culturanaval-imagen{
  float: left;
}

.view-cultura-naval-slide-homepage .view-content, .view-cultura-naval-slide-homepage .skin-default{
  width: 500px;
  height: 230px;
}

.view-cultura-naval-slide-homepage  #views_slideshow_cycle_teaser_section_cultura_naval_slide_homepage-block,
.view-cultura-naval-slide-homepage .views-slideshow-cycle-main-frame-row{
  width: 100%;
  height: 100%;

}

.view-cultura-naval-slide-homepage  .views-slideshow-cycle-main-frame-row{
  width: 100% !important;
  height: 100% !important;
}

.view-cultura-naval-slide-homepage {
  padding-left: 90px;
}

.view-cultura-naval-slide-homepage .vscc_controls_previous,
.view-cultura-naval-slide-homepage #vscc_controls_next_cultura_naval_slide_homepage-block{
  position: absolute;
  top: 50%;
}

.view-cultura-naval-slide-homepage .vscc_controls_previous{
  left: 6%;
}

.view-cultura-naval-slide-homepage .vscc-next-processed{
  right: 0;
}

.view-cultura-naval-slide-homepage #vscc_controls_pause_cultura_naval_slide_homepage-block{
  display: none;
}

.view-cultura-naval-slide-homepage .views-field-title{
 padding: 0 20px 0 20px;
font-size: 1.5em;
float: left;
width: 250px;
line-height: 1em;
}
/* Fin de la adici??n de estilos del slide presentado en el home con elementos de cultura naval */
/***********************************************************************************************/
/* inicio adici??n de estilos del slide presentado en el home con elementos de galeria cultural */
/***********************************************************************************************/
.views-field .views-field-body{
  float: left;
  width: 250px;
  padding-top: 0 !important;
  margin-top: 0;
  border-top: 0;
}
.views-field .views-field-field-culturanaval-imagen{
  float: left;
}
.views-field .views-slideshow-cycle-main-frame-row-item{
  width: 530px;
}
.view-cultura-naval-slide-homepage .view-content, .view-cultura-naval-slide-homepage .skin-default{
  width: 500px;
  height: 230px;
}

.views-field  #views_slideshow_cycle_teaser_section_cultura_naval_slide_homepage-block,
.views-field .views-slideshow-cycle-main-frame-row{
  width: 100%;
  height: 100%;

}

.views-field  .views-slideshow-cycle-main-frame-row{
  width: 100% !important;
  height: 100% !important;
}

.views-field {
 /* padding-left: 90px;*/
}

.views-field .vscc_controls_previous,
.views-field #vscc_controls_next_cultura_naval_slide_homepage-block{
  position: absolute;
  top: 50%;
}

.views-field .vscc_controls_previous{
  left: 6%;
}

.views-field .vscc-next-processed{
  right: 0;
}

.views-field #vscc_controls_pause_cultura_naval_slide_homepage-block{
  display: none;
}

.views-field .views-field-title{
 padding: 0 20px 0 20px;
font-size: 1.5em;
float: left;
width: 250px;
line-height: 1em;
}

#vscc_controls_next_clone_of_cultura_naval_slide_homepage-block{
  margin-left: 68%;
  position: absolute;
    top: 50%;
}
#vscc_controls_pause_clone_of_cultura_naval_slide_homepage-block{
    display: none;
}

#vscc_controls_next_video_cultura_naval-block{
  margin-left: 68%;
  position: absolute;
    top: 50%;
}
#views_slideshow_cycle_main_video_cultura_naval-block{
  padding-left:8%;
}

#vscc_controls_pause_video_cultura_naval-block{
    display: none;
}
#edit-field-tema-culturanaval-tid,#edit-field-tema-nuestrahistoria-tid,#edit-field-tema-fotografiashistoricas-tid,#edit-field-tema-atreveteasaber-tid
{
  background: #1E749C;
  color: #FFF;
  border: 0;
  border-color: #b36929;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 600;
}


#edit-submit-clone-of-cultura-naval-slide-homepage,#edit-submit-commanders,#edit-submit-dare-to-know-image,#edit-submit-cultura-naval-slide-homepage{
margin-top: 14.5px !important;
/*border-bottom: 5px solid #2E3B57;*/
background: #3F7CFF;
/*color: #b36929;*/
/*display: inline-block !important;*/
height: 22px;
/*-webkit-appearance: none;
-o-border-radius: 5px;
-ms-border-radius: 5px;
-moz-border-radius: 5px;*/
-webkit-border-radius: 5px;
border-radius: 5px;
color: #fff;
cursor: pointer;
display: inline-block !important;
zoom: 1;
-ms-zoom: 1;
-webkit-zoom: 1;
-moz-transform: scale(1,1);
-moz-transform-origin: left center;
font-size: 16px;
padding: 2px 20px;
/* position: relative; */
text-decoration: none;
text-transform: uppercase;
vertical-align: top;
white-space: nowrap;
}

/* fin adici??n de estilos del slide presentado en el home con elementos de galeria cultural */
/***********************************************************************************************/

.current-date{
  padding-left: 50px;
}

.field-name-field-dependency-image, .field_image{
  float: left;
}

.clasificate .views-field-title a{
  font-weight: bold;
font-family: arial;
color: #ffcc00;
text-transform: uppercase;
}

.clasificate .views-field-field-clasificate-image,
.field-name-field-clasificate-image,
.field-name-field-news-image{
  float: left;
  margin-right: 10px;
}

.view-id-clasificados .jcarousel{
  height: 2124px !important;
}

.view-id-clasificados .jcarousel li{
  height: 120px !important;
}

.view-id-clasificados .views-field-field-clasificate-image,
.view-id-clasificados .views-field-body,
.view-id-clasificados .views-field-field-clasificate-categorie{
  float: left;
}

.view-id-clasificados .views-field-body{
  width: 350px;
}

.view-id-clasificados.news-section .jcarousel-skin-default .jcarousel-clip-vertical{
  height: 250px;
}

.view-id-clasificados .views-field-field-clasificate-categorie{
  clear: both;
width: 475px;
text-align: left;
}

html body{
  margin: 0 !important;
  padding: 0;
  border: 0;
  overflow: none !important;
}

.node-webform{
  background-color: white;
  color:black;
}
.iewidth fieldset span.fielset-legend{
  width:860px !important;
}
.node-webform .form-submit{
  border:solid 1px black;
  margin-left:0.5em;
}

.webform-grid{
  color: black;
}

.webform-grid th{
  color: white;
}

.webform-grid thead th{
  color: black;
}
.messages.status a{
  color:green;
}
.button-submit{
  background: url(/sites/all/themes/armada_ximil/images/btn-login.png);
  width: 82px;
  height: 19px;
  color: transparent;
}

.not-logged-in.page-user .tabs {
  display: none;
}
@-moz-document url-prefix() {
 .view-behavior{
    color:  #000;
}   
    }
.view-behavior{
    color:  #000;
}
span.fieldset-legend{
  
  width:100%;
  display:block;
  position:absolute;
  z-index:99;
  text-align:justify;
  margin:auto;
}
/*ajustes style vestuario*/
.vestuario{
   color:#000;  
}
.vestuario{
  /* rounded corners */

-moz-border-radius: 10px;

-webkit-border-radius: 10px;

border-radius: 10px;



/* add gradient */

background-color: #3D60B9;

background: -moz-linear-gradient(top, ##3D60B9, ##3D60B9);

background: -moz-linear-gradient(top, ##3D60B9, ##3D60B9); 



/* add box shadows */

-moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);

-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);

box-shadow: 5px 5px 10px rgba(0,0,0,0.3); 

}



.vestuario h1 {color:#F4EBCB; font-size:1.5em;}

  
}
.vestuario table{
  border-collapse:collapse;
  text-align:left;
  color: #A21623;   
}
.vestuario thead th{
  color: #000 ; 
}
.vestuario thead th td{
  background-color: White;
  vertical-align:middle;
  padding: 0.6em;
  font-size:0.8em;
}
.vestuario thead tr th{
  padding: 0.5em;
/* add gradient */
  background-color: #5182DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#1515B9), to(#5182DA));
  background: -moz-linear-gradient(top, #1515B9, #5182DA);
  color: #dadada; 
}
.vestuario tbody tr:nth-child(odd) {
  background-color: #fafafa;
}
.vestuario tbody tr:nth-child(odd):hover

{

cursor:pointer;

/* add gradient */

background-color: #B3B0FA;

background: -webkit-gradient(linear, left top, left bottom, from(#B3B0FA), to(#B3B0FA));

background: -moz-linear-gradient(top, #B3B0FA, #B3B0FA);

color: #dadada;

}



/*** table's tbody section, even rows style ***/

.vestuario tbody tr:nth-child(even),div#edit-field-cr-clothes  {

background-color: #efefef;

}


/*** hover effect to apply to table's tbody section, even rows ***/

.vestuario tbody tr:nth-child(even):hover , div#edit-field-cr-clothes {

cursor:pointer;

/* add gradient */

background-color: #B3B0FA;

background: -webkit-gradient(linear, left top, left bottom, from(#B3B0FA), to(#B3B0FA));

background: -moz-linear-gradient(top, #B3B0FA, #B3B0FA);

color: #dadada;

} 

table,td,th,thead,tbody{
  color: #000 ; 
  text-decoration: none;
}

.vestuario a  ,{
  color: #000 ; 
  text-decoration: none;
}
.vestuario a:link a:visited {
  color: #000 ; 
  text-decoration: none;
}
.vestuario a{
  color: #000 ; 
  text-decoration: none;
}
/*fin style vestuario*/
#node-2316{
  
  width:110%;
}
#user-login .captcha .fieldset-wrapper .fieldset-description {
    display:none;
}
#user-login .captcha .fieldset-wrapper .description {
    display:none;
}
#user-login .captcha .fieldset-legend{
    display:none;
}
#views-form-tarjetas-conducta-page .views-table .views-field{
  color: #124;
}
#views-form-imprimir-tarjetas-de-conducta-deficientes-page .views-table .views-field{
  color: #124;
}
.view-tarjetas-de-bloqueadas .views-table .views-field{
  color: #124;
}
.view-tarjetas-de-bloqueadas a{
  color: #124;
}
.view-tramites-all a{
  color: #124;
}
.view-tramites-all {
  color: #124;
}
#caem-evaluation-perform-evaluation-form .tableheader-processed{
  color: #043769;
}
.tables-all{
  /*color: #124;*/
}
.tables-all thead th {
  color: #fff;
}
.tables-all thead th a{
  color: #fff;
}
.tables-all  a{
  color: #124;
}
.table-applicant{
  color: #fff;
}
.tables-all .pager a{
  color: #fff !important;
}
.table-applicant thead th{
  color: #fff;
}
.table-applicant  a{
  color: #124;
}
.table-all th a{
  color: #fff;
}
#edit-caem-evaluation-applicant-load-user-upload{
  height: 21px;
}

#edit-caem-evaluation-evaluator-load-user-upload{
  height: 21px;
}
#edit-field-foto-candidato-caem-und-0-upload{
  height: 21px;
}
#edit-clothes-filters-file{
  height: 21px;
}
#edit-inventory-file{
  height: 21px;
}
#edit-costumes-online-load-user-upload{
  height: 21px;
}
#edit-costumes-online-load-garments-upload{
  height: 21px;
}

.message_paswd{
  background-color: red;
  width: 50%;
}
#vppr-vocabularies a{
  color: #124;
}
#vppr-vocabularies thead th{
  color: white !important;
}
#vppr-vocabularies td{
  color: #000;
}
#taxonomy thead th{
  color: white !important;
}
#edit-actions{
  margin-top: 10px;
}
#taxonomy .odd a{
  color: #124;
}
#taxonomy .odd td{
  color: #124;
}
.draggable a{
  color: #124;
}
.view-video-cultura-naval .view-content{
  width: 625px;
  margin-top: -26px;
}
#mediafront_video_cultura_naval_1{
  height: 271px !important;
}