.breadcrumb a{ 	padding-right: 5px; }
#block-block-25{padding-left:4%;}
.ui-controlgroup{display:none !important;}
h2 {background-color:#03475F; padding:1.5%; text-align:center; color:#ffffff; font-weight:bold;}
#block-views-eventos-block h2 {}
#block-views-eventos-block .node h2 {background:none !important; text-align:left; margin-bottom:10px;}
#block-views-eventos-block .views-field-body { width:90%; margin-top:-16px;}
#block-views-eventos-block .views-field-body p { width:100%;}
#block-views-eventos-block .views-field-title{padding-bottom:2%;}

#block-views-eventos-block .views-field-field-picture{float: left;width:100px; padding-right:3%;}
#block-views-eventos-block .views-row {margin: 30px 0;}
.footermobile a{color:#03475F !important;}
